{% extends 'base.html' %}
{% from 'macros.html' import render_input %}


{% block title %}
    Create new Post
{% endblock %}


{% block content %}
    <h1 id="title" class="title">Create Post</h1>

    <form id="CreateForm" method="post" action="/create_post">
        {{ render_input('Title:', 'title', '', 'Enter the heading: ') }}
        {{ render_input('Content:', 'content', '', 'Enter the text of post: ') }}
        {{ render_input('Creator:', 'creator', '', 'Enter the nickname of creator: ') }}
        {{ render_input('Picture:', 'picture', '', 'Add the link to an image: ') }}

        <div class="control">
            <button class="button is-primary" type="submit">Save</button>
            <button class="button is-info clear-form" type="button">Clear Form</button>
        </div>
    </form>
{% endblock %}


{% block scripts %}
<script>
    // Очищення всіх полів у формі.
    $(document).ready(function() {
        $('.clear-form').click(function() {
            document.getElementById('CreateForm').reset();
        });
    });
</script>
{% endblock %}