{% extends 'base.html' %}
<!-- {% from 'macros.html' import render_input %} -->


<!-- {% block title %}
    Main Page
{% endblock %} -->


{% block content %}
    <h1 id="title" class="title">All Posts</h1>
    
    <div class="content">
        {% for post in all_posts %}
            <div class="box">
                <h2 class="title-index is-4">{{ post.title }}</h2>
                <p id="p-content">{{ post.content }}</p>
                <p>{{ post.creator }}</p>
                <a class="button is-link" href="/read_post_detail/{{ post.id }}">Read Details</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block scripts %}
{% endblock %}