{% extends 'base.html' %}
{% from 'macros.html' import render_input %}


{% block title %}
    Edit Post
{% endblock %}


{% block content %}
    <div id="update-post">
        <h1 id="title" class="title">Edit Post</h1>

        <form id="UpdateForm" method="post" action="/update_post/{{ post.id }}">
    
            <input type="hidden" name="_method">
    
            {{ render_input('Title:', 'content', post.title, '') }}
            {{ render_input('Content:', 'content', post.content, '') }}
            {{ render_input('Creator:', 'creator', post.creator, '') }}
            {{ render_input('Picture:', 'picture', post.picture, '') }}
    
            <div class="control">
                <button class="button is-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
{% endblock %}


{% block scripts %}
{% endblock %}